body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color:#EEEEEE;
    width: 800px;
    margin: auto;
}

.menubar { 
    background-color: #222831;
}

ul {
    text-align: left;
    display: inline;
    margin: 0;
}

ul li {
    font-weight: bold;
    font-size: 9pt;
    display: inline-block;
    margin-right: -5px;
    position: relative;
    padding: 15px 20px;
    color:#76ABAE;
    cursor: pointer;
}
ul li:hover {
    background: #76ABAE;
    color: #FFFFFF;
}

li ul{
    display: none;
    background-color: #FFFFFF;
    position: absolute;
    margin-top: 15px;
    margin-left: -20px;
    padding: 0px 0px 0px 0px;

}

li ul a li{
    width: 120px;
    border-bottom: 1px solid #e7e7e7;
}

li:hover ul{
    display: block;
}
li ul a li:hover{
    width: 120px;
}

li ul li ul li
{
    display:none;
    margin-left: 0px;
    position:relative;
}
li ul li:hover ul li{
    display:block;			
}

ul ul ul {
    left: 100%;
    top: 0;
    margin-left: 0px;
}

.header {
    background-color: #FFFFFF;
    text-align: center;
    height: 170px;
    padding-top: 1px;
}
.header h1 {
    font-size: 42pt;
    color: #222831;
    text-shadow: 2px 2px 3px #5b5b5b;
}