body {
    background-color: #F1EFEF;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    direction: rtl;
}

hr {
    border: 0;
    height: 2px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

table {
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
}
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 3px 10px 3px 10px;
}
th {
    background-color: #2A629A;
    color: #FFFFFF;
}

.main {
    width: 800px;
    margin: auto;
}

.header {
    text-align: center;
    background-color: #265073;
    color: #FFFFFF;
    height: 100px;
    padding-top: 30px;
}
.header h1 {
    font-size: 25pt;
    margin-top: 0;
    margin-bottom: -10px;
}
.header h5 {
    font-weight: normal;
}

.content {
    background-color: #FFFFFF;
    font-size: 9.5pt;
    padding: 10px;
}

.content p {
    font-weight: bold;
}

.content input {
    border-radius: 4px;
    border: 0.5px solid #000000;
    direction: rtl;
    width: 90px;
}

.content select {
    width: 90px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;

}

.content button {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    outline: 0;
    cursor: pointer;
    padding: 0px 16px;
    font-size: 11px;
    line-height: 20px;
    border: 1px solid;
    border-radius: 4px;
    color: #FFFFFF;
}

.btnInsert{
    background-color: #2ea44f;
}
.btnUpdate {
    background-color: #344C64;
}
.btnDelete {
    background-color: #EE4E4E;
}

.alert {
    color: #EE4E4E;
    font-size: 8pt;
}