body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color:#EEEEEE;
    width: 800px;
    margin: auto;
}

.main {
    background-color: #FFFFFF;
}

.header {
    background-color: #77B0AA;
    text-align: center;
    height: 170px;
    padding-top: 1px;
    border-bottom: 5px solid #EEEEEE;
}
.header h1 {
    font-size: 42pt;
    color: #000000;
    text-shadow: 2px 2px 3px #5B5B5B;
}

.menubar { 
    background-color: #222831;
    width: 200px;
}

ul {
    text-align: left;
    display: inline;
    margin: 0;
    list-style-type: none;
}

ul li {
    list-style-type: none;
    font-weight: bold;
    font-size: 9pt;
    position: relative;
    padding: 15px 20px;
    color: #77B0AA;
    cursor: pointer;
}
ul li:hover {
    background: #222831;
    color: #FFFFFF;
}

li ul{
    display: none;
    list-style-type: none;
    background-color: #222831;
    position: absolute;
    margin-top: -30px;
    margin-left: 180px;
    padding: 0px 0px 0px 0px;

}

li ul a li{
    width: 120px;
}

li:hover ul{
    display: block;
}
li ul a li:hover{
    width: 120px;
}

li ul li ul li
{
    display:none;
    margin-left: 0px;
    position:relative;
}
li ul li:hover ul li{
    display:block;			
}

ul ul ul {
    left: 100%;
    top: 0;
    margin-left: 0px;
}