body {
    background-color: #FAF0E6;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    direction: rtl;
}

.main {
    width: 800px;
    margin: auto;
}

.header {
    text-align: center;
    background-color: #5C5470;
    color: #FFFFFF;
    height: 110px;
}
.header h1 {
    font-size: 38pt;
    margin-top: 0;
    margin-bottom: -10px;
}
.header h5 {
    font-weight: normal;
}

.content {
    background-color: #FFFFFF;
    font-size: 9.5pt;
    padding: 20px 10px 20px 10px;
}

.content input {
    width: 250px;
    padding: 3px 10px;
    border-radius: 4px;
    border: 0.5px solid #000000;
    direction: ltr;
    text-align: center;
}
#txtAddress {
    width: 440px;
    text-align: left;
}

.dis {
    font-size: 7pt;
    padding-bottom: 15px;
}

.alert {
    font-weight: bold;
    font-size: 15pt;
}

.failed {
    color: #E72929;
    font-weight: bold;
    font-size: 15pt;
    visibility: hidden;
}

.acceptable {
    color: #0D9276;
    font-weight: bold;
    font-size: 15pt;
    visibility: hidden;
}